body {
  font-family: 'Slabo 27px', serif;
}

.navbar {
  background-color: rgba(255, 255, 255, .9);
}

.carousel .slide {
  margin-top: 0;
  height: 100%;
}

.carousel-caption {
  bottom: 30%;
}

.carousel-caption h5 {
  font-size: 60px;
}

.carousel-caption p {
  font-size: 20px;
}

.banner {
  color: #000;
  background-color: rgba(255, 255, 255, .5);
  padding: 20px;
  width: 100%;
  border-radius: 10px;
}

.about {
  margin-top: 20px;
}

.section-title {
  margin-bottom: 20px;
}

.services .service-item {
  display: inline-block;
  text-align: center;
  width: 30%;
  height: auto;
  vertical-align: middle;
  margin: 0 1.5% 1.5%;
  padding: 30px 20px;
  box-sizing: border-box;
  border: 2px solid #000000;
  border-radius: 10px 20px 10px 20px;
  transition: 0.5s border;
  font-family: 'Slabo 27px', serif;
}

.services .service-item:hover {
  font-size: 18px;
}

.list-image {
  width: 80%;
}

#jumbotrom-call {
  font-size: 25px;
}

#emailHelp {
  color: #FFF;
}

.submit-button {
  margin-bottom: 25px;
}

#map {
  width: 100%;
  height: 400px;
}

.contact-footer {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #333;
  color: #FFFFFF;
  font-family: 'Slabo 27px', serif;
}

.products-header {
  font-family: 'Slabo 27px', serif;
}

.products-title {
  padding-bottom: 50px;
  padding-top: 50px;
  font-family: 'Slabo 27px', serif;
}

.product-list-img {
    height: 300px;
    background-size: cover;
}

@media(max-width: 425px) {
  .navbar {
    background-color: #FFF;
  }

  .banner {
    color: #000;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10%;
    position: absolute;
    transform: translate(0, -90%);
  }

  .banner button {
    display: none;
  }

  .banner-paragraph {
    display: none;
  }

  .video {
    height: auto;
  }

  .services .service-item {
    display: block;
    width: 80%;
    margin: 15px 0 15px 0;
  }
}
